html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform-origin: center center;
  background: url('../images/home_bg.jpg') no-repeat center center;
  background-size: cover;
  animation: rotate 10s linear forwards;
}

.homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
*/

